@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;700;900&family=Smooch&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#nav-bar{
    background-color: #f7608b;
    height:140px;
   
}

ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
   color:white;
   font-size: 20px;
  

}

#nav-items ul{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right:40px;
    padding-bottom: 40px;
}

#nav-items ul li{
    margin:10px;
   
    
}

#nav-items ul li img{
    height:30px;
    filter: invert(95%) sepia(0%) saturate(7495%) hue-rotate(196deg) brightness(125%) contrast(96%);
    
}

#navbar #nav-items{
    margin-bottom: 40px;
}

#brand{
    color:white;
    font-family: 'Comforter', cursive;
    font-size:30px;
    padding-top: 40px;
    padding-left: 40px;
}

#brand img{
    height:30px;
}



/* ABOUT US  */


#about-us-heading{
    color:#f7608b;
    display:block;
    margin-top:40px;
    margin-left:650px;
    
   
}

#who-are-we{
    color:#f7608b;
    font-family: 'Comforter', cursive;
    font-size: 30px;
    margin-left:650px;
    margin-top:10px;
}



#about-us-container{
    display:flex;
    flex-direction: row;
}

#about-us-para{
  width:700px;
  line-height: 40px;
  margin-left:40px;
  color:#f7608b;
  font-family: 'Roboto', sans-serif;;
}

#about-us-container img{
    height:500px;
    width:500px;
    margin-left:50px;
}



/* CONTACT SECTION */


#contact-section{
    display:flex;
    flex-direction: row;
    background-color:  #3FCAB7;
    color:#f7608b;
    font-weight: 700;
    justify-content: space-between;
    height: 300px;
    margin-top:100px;
}


#form-container{
    display:flex;
    flex-direction: column;
    border-right: 2px solid white;
    padding-right: 300px;
    margin-left:200px;
}


#form-container input{
    margin-bottom: 20px;
    outline:none;
    border:white;
    height:40px;
    width:250px;
    border-radius: 0.5rem;
    
}

::placeholder{
    color:#f7608b;
}

#form-container button{
    width: 100px;
    cursor: pointer;
    color:#3FCAB7;
    background-color: #f7608b;
    border:none;
    border-radius: 0.5rem;
    height:30px;
    font-weight: 700;
}

#form-container button:active{
    transform:translateX(0.3rem);
}



#form-container p{
    border-bottom: 2px solid #f7608b;
    margin-bottom: 40px;
}


#contact-follow {
    margin-right:200px;
    margin-top:100px;
}

#contact-follow img{
    margin:20px;
}

#contact-follow p{
    margin-left:30px;
    border-bottom:  2px solid #f7608b;
}

