@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Roboto+Condensed:wght@300;400;700&family=Roboto:wght@400;700;900&family=Smooch&display=swap');

:root {
    --color-primary: #5ec576;
    --color-secondary: #ffcb03;
    --color-tertiary: #ff585f;
    --color-primary-darker: #4bbb7d;
    --color-secondary-darker: #ffbb00;
    --color-tertiary-darker: #fd424b;
    --color-primary-opacity: #5ec5763a;
    --color-secondary-opacity: #ffcd0331;
    --color-tertiary-opacity: #ff58602d;
    --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
    --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  }

html{
    scroll-behavior: smooth;
}

body{
    margin:0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#nav-bar{
    background-color: #f7608b;
    height:140px;
   
}

ul li{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
   color:white;
   font-size: 20px;
  

}

#nav-items ul{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right:40px;
    padding-bottom: 40px;
}

#nav-items ul li{
    margin:10px;
   
    
}

#nav-items ul li img{
    height:30px;
    filter: invert(95%) sepia(0%) saturate(7495%) hue-rotate(196deg) brightness(125%) contrast(96%);
    
}

#navbar #nav-items{
    margin-bottom: 40px;
}

#brand{
    color:white;
    font-family: 'Comforter', cursive;
    font-size:30px;
    padding-top: 40px;
    padding-left: 40px;
}

#brand img{
    height:30px;
}


/* MENU SECTION */

 h2{
    color:#f7608b;
    position:relative;
    left:680px;
    top:50px;
}


#container1{
    margin-top:120px;
    display:flex;
    flex-direction: row;
    justify-content:space-around;
}


#container1 div{
    border:2px solid #3FCAB7;
    padding:70px;
    padding-top:20px;
    padding-bottom: 30px;
    box-shadow: 5px 10px 18px #888888;
    transform: translateZ(10rem);
    width:200px;
    border-bottom-right-radius: 1rem;
}


.menu-item1-flip{
    transform:rotateY(180deg);
    border: 5px solid black;

}

#container1 div p{
    margin-top:0;
}

#container2{
    margin-top:120px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}


#container2 div{
    border:2px solid #3FCAB7;
    padding:70px;
    padding-top:20px;
    padding-bottom: 30px;
    box-shadow: 5px 10px 18px #888888;
    transform: translateZ(10rem);
    width:200px;
    border-bottom-right-radius: 1rem;
}

#container2 div p{
    margin-top:0;
}


#container3{
    margin-top:120px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}


#container3 div{
    border:2px solid #3FCAB7;
    padding:70px;
    padding-top:20px;
    padding-bottom: 30px;
    box-shadow: 5px 10px 18px #888888;
    transform: translateZ(10rem);
    width:200px;
    border-bottom-right-radius: 1rem;
}

#container3 div p{
    margin-top:0;
}


#buy-btn{
    color:white;
    background-color: #f7608b;
    font-weight: 700;
    padding:10px;
    border:none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#buy-btn:hover{
    color:#f7608b;
    background-color: white;
    border: 2px solid #f7608b;
}

#buy-btn:active{
    transform: translateX(1rem);
}

 

/* CONTACT SECTION */


#contact-section{
    display:flex;
    flex-direction: row;
    background-color:  #3FCAB7;
    color:#f7608b;
    font-weight: 700;
    justify-content: space-between;
    height: 300px;
    margin-top:100px;
}


#form-container{
    display:flex;
    flex-direction: column;
    border-right: 2px solid white;
    padding-right: 300px;
    margin-left:200px;
}


#form-container input{
    margin-bottom: 20px;
    outline:none;
    border:white;
    height:40px;
    width:250px;
    border-radius: 0.5rem;
    
}

::placeholder{
    color:#f7608b;
}

#form-container button{
    width: 100px;
    cursor: pointer;
    color:#3FCAB7;
    background-color: #f7608b;
    border:none;
    border-radius: 0.5rem;
    height:30px;
    font-weight: 700;
}

#form-container button:active{
    transform:translateX(0.3rem);
}



#form-container p{
    border-bottom: 2px solid #f7608b;
    margin-bottom: 40px;
}


#contact-follow {
    margin-right:200px;
    margin-top:100px;
}

#contact-follow img{
    margin:20px;
}

#contact-follow p{
    margin-left:30px;
    border-bottom:  2px solid #f7608b;
}



/* OPERATIONS */

